labs/labs/cae-xor.o
labs/.vscode/settings.json
labs/.vscode/settings.json
labs/labs/generalFuncs.h.gch
labs/labs/generalFuncs.o
labs/labs/generalFuncs.h.gch
labs/labs/data.cae
labs/cae-xor.o
labs/generalFuncs.h.gch
labs/generalFuncs.o
labs/lab1
labs/mystat.c
labs/mystat.o
